/* 左矢印 */
.balloon-009 {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 0 22px;
}

.balloon-009 img {
    max-width: 70px;
    height: 100%;
    border: 3px solid #c2c2c2;
    border-radius: 50%;
}

.balloon-009 p {
    position: relative;
    /* max-width: 300px; */
    margin: 3px 0 0;
    padding: .8em 1em;
    border-radius: 5px;
    background-color: #c2c2c2;
    color: #333333;
}

.balloon-009 p::before {
    position: absolute;
    left: -15px;
    width: 15px;
    height: 30px;
    background-color: #c2c2c2;
    clip-path: polygon(0 50%, 100% 0, 100% 100%);
    content: '';
}

/* 右矢印 */

.balloon-010 {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 0 22px;
}

.balloon-010 img {
    max-width: 70px;
    height: 100%;
    border: 3px solid #f2f2f2;
    border-radius: 50%;
}

.balloon-010 p {
    position: relative;
    margin: 3px 0 0;
    padding: .8em 1em;
    border-radius: 5px;
    background-color: #f2f2f2;
    color: #333333;
}

.balloon-010 p::before {
    position: absolute;
    right: -15px;
    width: 15px;
    height: 30px;
    background-color: #f2f2f2;
    clip-path: polygon(0 0, 100% 50%, 0 100%);
    content: '';
}